@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* custom macro styles */

body {
  @apply scrollbar-hide flex flex-col h-screen;
}

main {
  @apply my-8 mx-auto w-full px-6 grow prose prose-sm sm:prose-base lg:prose-lg xl:prose-xl max-w-prose;
}

footer {
  @apply bg-gray-100 text-gray-500 py-2 px-4 text-xs flex flex-row items-center whitespace-nowrap;
}

.alert {
  @apply px-8 py-1 drop-shadow-md rounded-lg bg-red-50;
}

.alert .title {
  @apply text-2xl font-bold;
}

/*
thead tr {
  @apply bg-blue-50;
}

td {
  @apply p-4;
}

tbody tr {
  cursor: pointer;
  @apply hover:bg-gray-100 whitespace-nowrap;
}
*/

td {
  @apply whitespace-nowrap;
}

tbody tr {
  cursor: pointer;
  @apply hover:bg-gray-100 whitespace-nowrap;
}