---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{% link /assets/css/app.css %}">
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=602a9e560cf79300112b0f9c&product=inline-share-buttons'
    async='async'></script>
  <script>
    if (sessionStorage.getItem("refresh") == "true") {
      sessionStorage.removeItem("refresh"); window.location.reload()
    }
    function back() {
      let target = document.referrer;
      if (!target || target.match(window.location.href)) target = '/';
      window.location.replace(target);
    }
    window.back = back;
  </script>
</head>

<body x-data="user">
  {{ content }}
  <script src="{% link /assets/js/app.js %}"></script>
</body>

</html>