---
layout: page
---
{% capture i18n_date %}
{% assign day = page.date | date: "%-d" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = site.months[m] %}
{% assign year = page.date | date: "%Y" %}
{% assign datum = day | append: ". " | append: month | append: " " | append: year %}
{% assign author = "Anonym" %}
{% if page.author %}
{% assign author = page.author %}
{% endif %}
{% endcapture %}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>

    {% if page.date %}
    <span datetime="{{ page.date | date_to_xmlschema }}" class="date text-gray-500" itemprop="datePublished">{{ datum
      }}</span>
    {% endif %}


  </header>

  <div itemprop="articleBody">
    {{ content }}
    {% if page.author %}
    {{author}}
    {% endif %}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>

  {% if page.sources %}
  <div class="separator mt-8"></div>
  <p>
    <i>Použité zdroje:</i>
  </p>
  {% for source in page.sources %}
  <p>{{ source }}</p>
  {% endfor %}
  {% endif %}
</article>