---
layout: default
---
{% capture i18n_date %}
{% assign day = page.date | date: "%-d" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = site.months[m] %}
{% assign year = page.date | date: "%Y" %}
{% assign datum = day | append: ". " | append: month | append: " " | append: year %}
{% endcapture %}

<article itemscope class="px-10 prose prose-sm lg:prose-lg xl:prose-xl" itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ datum }}
      </time>
    </p>
  </header>

  <div class="prose prose-base lg:prose-lg xl:prose-xl mb-20 mx-auto max-w-prose" itemprop="articleBody">
    {{ content }}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
